<section class='pt-5 pb-5'>
    <div ngbDropdown class='d-inline-block mb-3' >
        <button class='btn btn-outline-primary' 
          id='dropdownBasic1' 
          ngbDropdownToggle
        >
        Items per page: {{itemPerPage}}
        </button>
        <div ngbDropdownMenu aria-labelledby='dropdownBasic1'>
          <button class='dropdown-item' (click)='changeSortOrder(5)'>5</button>
          <button class='dropdown-item' (click)='changeSortOrder(10)'>10</button>
          <button class='dropdown-item' (click)='changeSortOrder(20)'>20</button>
          <button class='dropdown-item' (click)='changeSortOrder(50)'>50</button>
        </div>
      </div>
  <table class='table'>
    <thead class='thead-dark'>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>First</th>
        <th scope='col'>Last</th>
        <!-- <th scope='col'>Point<i class="fa fa-fw fa-sort"></i></th> -->
        <th scope='col'>Point</th>
        <th scope='col'>Membership</th>
      </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let member of delayedObservable$ | async | sortBy:'asc':'point' ; index as i"> -->
        <tr *ngFor="let member of memberlist | sortBy:'asc':'point'; index as i">
          <th scope='row'>{{i + 1}}</th>
          <td>{{member.firstName}}</td>
          <td>{{member.lastName}}</td>
          <td>{{member.point}}</td>
          <!-- <td>{{getMemberShipLevel(member.point)}}</td> -->
        <td>{{member.point | getMemberShipLevel}}</td>
      </tr>
    </tbody>
  </table>
</section>
