<div class="container content p-3" style="max-width: 500px;">
  <div class="row">
    <div class="col" style="background-color: bisque;">
      <div class="row">
        <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary bg-primary" (click)="addItem($event)">➕</button>
          <button type="button" class="btn btn-primary bg-danger" (click)="removeItem($event)">➖</button>
          <button type="button" class="btn btn-primary bg-success"(click)="refresh($event)">🔃</button>
        </div>
      </div>
      <div class="row p-1">
        <div class="card-deck mt-1">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text" style="font-weight: 700;color: azure;">Total:</p>
              <p *ngIf="items$| async as items" class="card-text" style="font-size: xx-large;">
                  {{ items.length }} 🍎
              </p>
            </div>
          </div>
          <!-- <div class="card bg-success">
            <div class="card-body text-center">
              <p class="card-text" style="font-weight: 700; color: azure;">Total:</p>
              <p class="card-text" style="font-size: xx-large;">555 🍌</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col d-flex flex-wrap" style="background-color: #74992e;font-size: xx-large;">
      <div *ngFor="let item of items$ | async">
        {{item}}
      </div>
    </div>
  </div>
</div>
